.wd-height-200px {
    height: 200px;
}

.wd-pic {
    top: 152px;
    left: 20px;
}

.wd-imgdim-96px {
    width: 96px;
    height: 96px;
}

.wd-height-250px {
    height: 250px;
}

.wd-top-padding-12px{
    padding-top: 12px;
}

.wd-margin-5px{
    margin: 10px;
}

.wd-top-margin-12px{
    margin-top: 12px;
}