
.wd-background-color{
    background-color: black
}

.wd-width-full{
    width:100%}

.wd-background-color-dark-grey{
    background-color: rgb(67,70,75,0.5);
}
.wd-border {
  border-top: 1px solid ;
  border-color: rgb(47,51,54)
}

.wd-img-dim{
    height: 48px;
    width:48px;
}
.wd-no-margin{
    margin:0px}

.wd-no-padding{
    padding:0px}

.wd-padding-left-20px{
    padding-left:20px
}

.wd-margin-left-20px{
    margin-left:20px
}

.wd-margin-right-20px{
    margin-right:20px
}

.wd-padding-right-20px{
    padding-right:20px
}

.wd-left-padding-16px{
    padding-left:16px
}

.wd-top-padding-12px{
    padding-top:12px
}

.wd-bottom-padding-12px{
    padding-bottom:12px
}

.wd-bottom-padding-5px{
    padding-bottom:5px
}

.wd-left-padding-12px{
    padding-left:12px
}

.wd-right-padding-12px{
    padding-bottom:12px
}

.wd-padding-all-12px{
    padding-bottom:12px;
    padding-top:12px;
    padding-left:12px;
    padding-right:12px
}

.wd-padding-all-16px{
    padding-bottom:16px;
    padding-top:16px;
    padding-left:16px;
    padding-right:16px
}

.wd-text-color-white{
    color:white
    }


.wd-text-color-grey{
    color:grey
    }

.wd-color-red{
    color:red
    }

.wd-color-blue{
    color:blue
    }

.wd-text-font-20px{
    font-size:20px
   }

.wd-text-font-13px{
    font-size:13px
   }

.wd-class-left-float{
    float:left
}

.wd-class-right-float{
     float:right
 }

 .wd-class-top-float{
      float:top
  }

  .wd-display-flex{
      display:flex;
      justify-content: space-between;
      }


.wd-text-bold{
    weight:bold
}

.wd-padding-left-50px{
    padding-left:50px
}

.wd-padding-right-50px{
    padding-right:50px
}

.wd-post {
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    padding: 12px;
    border-color: rgb(222, 226, 230);
    display: flex;
    justify-content: space-between;
}

.wd-max-width-600px {
    max-width: 600px;
}