@import "../styles.css";

.wd-rounded-edges-all{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    }

.wd-no-border{
    border-width: 0px;
    }

.wd-padding-all-5px{
    padding-top:5px;
    padding-left:5px;
    padding-bottom:5px;
    padding-right:5px;
    }

.wd-flex{
      display:flex;
      }

.wd-color-blue{
    color: rgb(29,161,242)}

.wd-color-link{
    color:rgb(110, 118, 125)}

.wd-no-decoration{
    text-decoration:none
}

.wd-bottom-padding-highlight{
    border-bottom-style:solid;
    border-color:rgb(29,161,242);}

.wd-font-size-15px{
    font-size:15px}

.wd-font-size-25px{
    font-size:25px}

.wd-font-size-12px{
    font-size:12px}

.wd-image-rounded-border{
border-radius: 25px;
}

.wd-image-dim{
height:100px;
width:100px;}


.wd-image-dim-48px{
height:48px;
width:48px;}

.wd-justify-content{
justify-content: space-between;
}

.nav-tabs .nav-item .nav-link.active {
   color: white;
   border-bottom-style:solid;
   border-top-style:none;
   border-left-style:none;
   border-right-style:none;
   border-color:rgb(0,0,255);
   border-width:3
 }

 .nav-tabs .nav-item .nav-link{

    color:rgb(255,255,255, 0.5);
    border-bottom-style:none;

  }

.wd-tile{
    border-width:1;
    border-style:solid;
    border-color:rgb(225,255,255, 0.1);
}

  .border .override-border{
    border-width:1;
    border-style:solid;
    border-color:rgb(225,255,255);
  }
